:root {
      --font: Arial, Helvetica, sans-serif;
      --primary-color: #0c0c0c;
      --second-color: #2b6f7c;
      --accent-color: #55d9ef;
    }
    body {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .container,
    .template,
    .timer,
    .indicator,
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .container {
      width: 90%;
      aspect-ratio: 1.6/1;
      border-radius: 30px 30px 60px 60px;
      position: relative;
      position: absolute;
      top: 2em;
    }
    .template {
      width: 80%;
      height: 4em;
      position: absolute;
      top: 0;
      justify-content: space-evenly;
      gap: 1.6em;
    }
    .template > button {
      width: 100%;
      height: 2.3em;
      background-color: var(--accent-color);
      border-radius: 16px;
      border: none;
      opacity: 50%;
      color: white;
      font-size: 1.3em;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
    .template > button:hover {
      background-color: var(--second-color);
      opacity: 1;
      color: #45c9d3;
    }
    /* Warna tombol pas terpilih (sama kayak hover) */
    .template button.active {
      background-color: #267277;
      opacity: 1;
      color: var(--accent-color);
    }
    .timer {
      width: 100%;
      height: 78%;
      background-color: var(--primary-color);
      border-radius: 60px;
      position: absolute;
      bottom: 0;
    }
    .timer > label {
      color: white;
      font-size: 1.4em;
      font-family: Arial, Helvetica, sans-serif;
      position: absolute;
      top: 2.4em;
      left: 2em;
    }
    .timer > #clock {
      font-size: 4.8em;
      position: absolute;
      top: 1.1em;
      left: 0.5em;
    }
    .timer > button {
      width: 6em;
      height: 2.4em;
      background-color: #303030;
      border-radius: 16px;
      border: none;
      position: absolute;
      top: 7.5em;
      left: 2em;
      color: white;
      font-size: 1.5em;
    }
    .timer > button:hover {
      background-color: #5a5959;
    }
    .indicator {
      height: 90%;
      aspect-ratio: 1;
      background-color: var(--second-color);
      border-radius: 50px;
      position: absolute;
      right: 2.5%;
    }
    .progress-ring {
      width: 90%;
      aspect-ratio: 1;
      transform: rotate(-90deg);
      position: absolute;
    }
    .progress-ring__circle {
      stroke-width: 20;
      stroke: var(--accent-color);
      fill: transparent;
      transition: stroke-dashoffset 1s linear;
    }

    .center {
      width: 1em;
      aspect-ratio: 1;
      background-color: var(--second-color);
      border-radius: 100%;
      z-index: 1;
    }
    .indicator > .center > button {
      width: 62%;
      aspect-ratio: 1;
      background-color: var(--primary-color);
      border-radius: 100%;
      border: none;
      color: white;
      font-size: 2.5em;
      z-index: 1;
    }
    /* HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH */
    /* HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH */
    /* HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH */
    @media (min-width: 375px) {
      .template {
        width: 80%;
        height: 4em;
        gap: 1em;
      }
      .template > button {
        width: 100%;
        height: 2em;
        border-radius: 14px;
        font-size: 120%;
      }
      .timer {
        width: 100%;
        height: 78%;
        border-radius: 45px;
      }
      .timer > label {
        font-size: 100%;
        top: 2em;
        left: 1.5em;
      }
      .timer > #clock {
        font-size: 400%;
        top: 0.8em;
        left: 0.4em;
      }
      .timer > button {
        width: 6em;
        height: 2.4em;
        border-radius: 16px;
        top: 7.9em;
        left: 1em;
        font-size: 120%;
      }
      .indicator {
        height: 90%;
        aspect-ratio: 1;
        border-radius: 38px;
        right: 2.5%;
      }
      .center {
        width: 61%;
        aspect-ratio: 1;
      }
      .indicator > .center > button {
        width: 74%;
        aspect-ratio: 1;
        font-size: 2.5em;
      }
    }
